
{% extends "layout.html" %}

{% block content %}


    
    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Cisco ACI Automation Tasks</h2>
                <a href="#" class="btn-primary">Sign up</a>
                <a href="{{ url_for('about') }}" class="btn-secondary">Learn More</a>
            </div>
            
            <div class="section-device">
                <img src="static/img/gears-people.jpg">
            </div>
  
            <div class="clearfix"></div>
        </div>
     <script type="text/javascript" src="static/js/code.js"></script>
    </main>
{% endblock %}

